<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <div
          class="
            card-header
            py-3
            d-flex
            flex-row
            align-items-center
            justify-content-between
          "
        >
          <h6 class="m-0 font-weight-bold text-primary">Available Services</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div class="row">
              <div
                class="col-xl-6 col-md-6 mb-4"
                *ngFor="let item of servicesItem"
              >
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body" (click)="click(item.id)">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="
                            text-xs
                            font-weight-bold
                            text-primary text-uppercase
                            mb-1
                          "
                        >
                          {{ item.title }}
                        </div>
                      </div>
                      <div class="col-auto">
                        <img src="{{ item.src }}" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
