<div class="container-fluid">
  <div id="wrapper">
    <div class="container-fluid mt-5">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Families List</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Owner Name</th>
                  <th>Email</th>
                  <th>Building Name</th>
                  <th>Owned</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Id</th>
                  <th>Owner Name</th>
                  <th>Email</th>
                  <th>Building Name</th>
                  <th>Owned</th>
                  <th>Actions</th>
                </tr>
              </tfoot>
              <tbody *ngFor="let item of userList">
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.owner }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.building }}</td>
                  <td>{{ item.owned }}</td>
                  <td>
                    <div class="row">
                      <div class="col">
                        <button
                          type="button"
                          [routerLink]="['/user-edit', item.id]"
                          class="btn btn-primary btn-sm"
                        >
                          EDIT
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger m-2 btn-sm"
                          (click)="deleteUser(item.id)"
                        >
                          DELETE
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
